<div class="row">
  <div class="col-sm-12 profile-large-image">
    <div class="row">
      <div class="col-sm-8 offset-sm-3">
        <p class="h4">
          <%= @user.name %>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <ul class="nav nav-pills col-sm-7 offset-sm-3">
    <li class="nav-item"><a class="nav-link" href="#">Timeline</a></li>
    <li class="nav-item"><a class="nav-link active" href="#">About</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Photos</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Friends</a></li>
    <li class="nav-item">
      <% if current_user && current_user.id == user.id %>
          <%= link_to 'Edit profile', edit_user_path(user), class: 'nav-link' %>
      <% end %>
    </li>
  </ul>
</div>

<div class="row">
  <div class="col-sm-12 top-buffer">
    <h1 class="h3 text-center bg-info">About</h1>
  </div>
</div>