<div class="row">
  <div class="col-sm-10 offset-sm-1 .offset-md-1">
    <div class="row">
      <div class="col-sm-12">
        <%= render partial: 'users/profile_header', locals: { user: user } %>
      </div>
    </div>

    <div class="row top-buffer">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header text-center h4">
            Photos
            <span class="float-right">
              <% if user.id == current_user.id %>
                <%= link_to 'Add photo!',
                            new_photo_upload_path,
                            class: 'btn btn-primary btn-sm' %>
              <% end %>
            </span>
          </div>
          <div class="card-body">
            <div class="row">
              <% photos.each do |photo| %>
                <div class="col-sm-3 bottom-buffer"><%= image_tag photo.file_path.thumb.url %></div>
              <% end %>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>