<div class="card bottom-buffer">
  <div class="card-body">
    <p><%= link_to user.name, user_path(user) %> <br>
      <span class="text-secondary">Posted on <%= post.formatted_date %></span></p>

    <p><%= post.body %></p>
  </div>
  <div class="card-header">
    <%= render partial: 'post_actions', locals: { post: post, user: user } %>
  </div>
</div>