<div class="row">
  <div class="col-sm-5">
    <%= likable_actions(resource) %>
  </div>
  <% if current_user && current_user.id == user.id %>
      <div class="col-sm-3 offset-sm-4">
        <%= link_to 'Delete', url_for(resource), method: :delete, data: { confirm: 'You sure?' } %>
      </div>
  <% end %>
</div>