<div class="row">
  <div class="col-sm-5">
    <% if post.liked_by_user? current_user %>
        <%= link_to 'Unlike', post_like_path(post), method: :delete, class: 'mr-sm-2' %>
    <% else %>
        <%= link_to 'Like', post_likes_path(post), method: :post, class: 'mr-sm-2' %>
    <% end %>

    <%= link_to 'Comment', '#' %>
  </div>
  <% if current_user && current_user.id == user.id %>
      <div class="col-sm-3 offset-sm-4">
        <%= link_to 'Delete', post_path(post), method: :delete, data: { confirm: 'You sure?' } %>
      </div>
  <% end %>
</div>