<!DOCTYPE html>
<html>
<head>
  <title>Danebook--profile</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <nav class="navbar navbar-dark bg-primary">
          <h1 class="navbar-brand text-light col-sm-11 offset-sm-1">Danebook</h1>
        </nav>
      </div>
    </div>

    <%= yield %>

  </div>
</body>
</html>
